body {
  background-color: #f5f5f5;
}

.container {
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}
.fa {
  font-family: "FontAwesome" !important;
}
@mixin cart-page-shop-text {
  display: -webkit-box;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.col-md-offset-3 {
  margin-left: 25%;
}
.background-header {
  background: rgb(26, 148, 255);
}

.header-nav-section .menu-nav li {
  padding: 12px 0;
  width: 20%;
  display: inline-flex;
  float: left;
  justify-content: center;
}
.chosen-container-single .chosen-single span {
  padding: 2px 20px;
}
.chosen-container-single,
.create-product-form .row-in-form textarea {
  width: 100% !important;
  font-size: 13px;
  font-weight: normal;
  line-height: 19px;
  padding: 2px 20px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  display: grid;
  align-items: center;
}
.chosen-container-single {
  height: 43px;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: none;
}
.chosen-container .chosen-single {
  padding: 0 !important;
}
.create-product-form .row-in-form:nth-child(2n){
  margin-right: 30px;
}
.create-product-form .row-in-form:nth-child(2n+1){
  margin-right: 0 !important;
}
.chosen-drop {
  margin-top: 1px !important;
}
.chosen-container .chosen-results {
  margin: 0 !important;
  padding: 0 !important;
  li.active-result {
    height: 43px;
    display: grid;
    align-items: center;
    padding: 0 28px;
  }
}
.cart-page-shop .row-in-form textarea {
  padding-top: 18px;
}
.login-input {
  margin: 20px 0;
}
.main-info-area {
  .right-section {
    .wrap-icon-section {
      .title {
        color: #333333;
      }
      .link-direction {
        i {
          display: block;
          float: left;
          font-size: 25px;
          color: #ffffff;
          margin: 7px 8px 0 0;
        }
      }
      .link-new-post,
      .link-cart {
        padding: 5px 10px;
        border-radius: 4px;
        width: 70px;
        .title {
          color: #ffffff;
        }
        .index {
          background-color: #fff !important;
          color: #1a94ff;
          border: 0.125rem solid #42a0f2;
          margin-top: -10px;
          margin-left: -15px;
        }
      }
    }
  }
}

.list-item {
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 56px;
  right: 27px;
  width: 400px;
  background-color: #ffffff;
  z-index: 99;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 30px 0 #b5b5b5;
  transition: all ease 0.5s 0s;
  -webkit-transition: all ease 0.5s 0s;
  -moz-transition: all ease 0.5s 0s;
  -o-transition: all ease 0.5s 0s;
  .caret-up {
    position: absolute;
    top: -20px;
    right: 7px;
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
  }
  .cart-empty {
    width: 100%;
    text-align: center;
    height: auto;
    padding: 60px 0;
    img {
      width: 100px;
    }
  }
  &:hover {
    display: block;
  }
  .cart-item {
    padding: 10px;
    display: flex;
    .cart-item-image {
      flex: 0 0 11.2%;
      img {
        border: 1px solid #ededf3;
      }
    }
    .cart-item-information {
      flex: 0 0 88.8%;
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      .cart-item-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 230px;
        color: #000000;
      }
      .cart-item-price {
        color: #ee4d2d;
      }
    }

    &:hover {
      background-color: #f8f8f8;
    }
  }
  .new-item-text {
    height: 40px;
    color: rgb(0, 0, 0, 0.26);
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  .see-cart-button {
    float: right;
    padding: 5px 15px;
    margin: 10px;
    color: #ffffff;
    background-color: #1a94ff;
  }
}
.link-cart:hover .list-item {
  opacity: 1;
  visibility: visible;
}

.list-notification {
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 37px;
  width: 400px;
  background-color: #ffffff;
  z-index: 99;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 30px 0 #b5b5b5;
  transition: all ease 0.5s 0s;
  -webkit-transition: all ease 0.5s 0s;
  -moz-transition: all ease 0.5s 0s;
  -o-transition: all ease 0.5s 0s;
  .caret-up {
    position: absolute;
    top: -20px;
    right: 7px;
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
  }
  .cart-empty {
    width: 100%;
    text-align: center;
    height: auto;
    padding: 60px 0;
    img {
      width: 100px;
    }
  }
  &:hover {
    display: block;
  }
  .notification {
    background-color: #fff2ee;
    padding: 10px 5px;
    display: flex;
    .cart-item-image {
      flex: 0 0 12%;
    }
    .cart-item-information {
      flex: 0 0 88.8%;
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      color: #000000;
    }

    &:hover {
      background-color: #f8f8f8;
    }
  }
  .new-item-text {
    height: 40px;
    color: rgb(0, 0, 0, 0.26);
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  .see-all-notification {
    color: #000000 !important;
    width: 100%;
    text-align: center;
    padding: 10px 0;

    &:hover {
      background-color: #fafafa;
    }
  }
}
.btn-list-notification:hover .list-notification {
  opacity: 1;
  visibility: visible;
}

.message-success {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  z-index: 999;

  div {
    background-color: rgb(76, 76, 76, 0.8);
    color: white;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 30px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.personal-page {
  .personal-card-info {
    width: 100%;
    padding: 29px 29px 30px 29px;
    display: flex;
    margin-top: 14px;
  }
  .personal-information {
    .summary-item {
      h4 {
        max-width: none;
      }
    }
  }
  .personal-card-background {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://thumbor.autonomous.ai/Dg4iDuGV9BfV2h8gk0uFicHVDF8=/1600x900/filters:quality(100)/https://cdn.autonomous.ai/static/upload/images/new_post/our-definitive-minimalist-desk-setup-guide-488-1595822218670.jpg');
    filter: blur(2px);
    position: absolute;
    width: 440px;
    height: 180px;
    background-size: cover;
  }
  .personal-card {
    padding: 20px 40px;
    width: 500px;
    .index {
      color: #ffffff !important;
      font-size: 23px;
    }
    .avatar-shop {
      img {
        border: 4px solid rgb(255, 255, 255, 0.4);
        border-radius: 50%;
        width: 110px;
        height: 110px;
        object-fit: cover;
      }
    }
    .btn-action-user {
      button {
        width: 100%;
        padding: 2px;
        margin-top: 10px;
        background: none;
        border: 1px solid;
        border-radius: 3px;
      }
      .btn-unfollow {
        color: #ee4d2d;
        border: 1px solid #ee4d2d;
      }
    }
  }
}

.summary-checkout .summary-item {
  display: block;
  float: left;
  width: 50%;
}

.personal-card-info .summary-item.personal-items {
  padding-left: 15px;
  .title {
    font-size: 14px;
    color: #555555;
    line-height: 24px;
    margin: 0;
  }
  .index {
    color: #333333;
    font-weight: 700;
  }
}

.post-list .product-list {
  width: 100%;
  padding: 0 20px;
  background-color: #ffffff;
  li {
    background-color: white;
    margin: 4px;
    padding: 10px;
    .product.product-style-3 {
      display: block;
      margin-top: 0;
      padding: 4px;
      box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
      border: 1px solid rgb(0 0 0 / 10%);
      img {
        height: 130px;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .item-price {
    font-weight: 700;
    color: #ee4d2d;
  }
}
.cart-page-shop {
  .row-in-form {
    label{
      font-size: 14px;
      line-height: 19px;
      color: #555555;
      display: block;
      font-weight: 400;
    }
    .input-image {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .label-image {
      display: grid;
      justify-content: center;
      padding: 10px;
      span {
        color: #ee4d2d;
        font-size: 36px;
        font-weight: 100;
      }
    }
    .image-product{
      width: 100%;
      justify-self: start;
    }
    .preview-image{
      width: 150px;
    }
    .preview-sub-image {
      width: 100%;
    }
  }
}

.topbar-menu-area .topbar-menu ul li a {
  color: #ffffff;
}
.submenu .menu-item a {
  color: #000000 !important;
  &:hover {
    color: #00bfa5 !important;
  }
}
.wrap-product-detail {
  padding-top: 30px;
}
.wrap-price {
  padding: 10px;
  background-color: #fafafa;
  .product-price {
    font-size: 30px;
    color: #ee4d2d;
    span {
      font-size: 20px;
      vertical-align: top;
    }
  }
}
.main-content-area {
  background-color: #ffffff;
}
.quantity {
  span {
    font-size: 15px;
    color: #757575;
  }
}
.add-to-cart {
  i {
    margin-right: 10px;
  }
}
.product-content-area {
  background-color: #ffffff;
  padding: 25px;
  .product-description {
    white-space: pre-line;
  }
  .title {
    text-transform: uppercase;
    font-size: 18px;
    background-color: rgba(0,0,0,.02);
    padding: 14px;
  }
  .row {
    padding: 0 10px;
    .title-description {
      color: rgba(0,0,0,.4);
    }
  }
  .description {
    padding: 0 15px;
  }
}
.wrap-breadcrumb {
  padding: 0;
  text-align: left;
  margin: 15px 0;
  font-size: 13px;
  a, span {
    color: #000000;
  }
  i {
    margin: 0 5px;
  }
}
.link-direction {
  position: relative;
  .tooltip-inner {
    width: 900px;
  }
}
.box-title {
  font-size: 16px;
  color: #333333;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
  margin-top: 20px;
}
.cart-page-shop {
  font-size: 14px;
  padding-bottom: 20px;
  .cart-page-shop-header {
    height: 60px;
    .cart-page-shop-header__name {
      @include cart-page-shop-text;
      svg {
        margin: 0 10px;
      }
    }
  }
  .cart-item {
    padding: 15px 20px 20px;
    border: 1px solid rgba(0,0,0,.09);
    .cart-item-checkbox {
      padding: 0 20px;
    }
    .cart-item-overview {
      .cart-item-overview__image {
        img {
          width: 80px;
        }
      }
      .cart-item-overview_product-name {
        width: 290px;
        padding: 5px 20px 0 10px;
        .cart-item-overview__name {
          @include cart-page-shop-text;
        }
      }
    }
    .cart-item-total-price {
      color: #ee4d2d;
    }
    .cart-item-action {
      width: 99px;
    }
  }
}
.quantity-input{
  display: inline-block;
  width: 114px;
  border: 1px solid #e6e6e6;
  margin-top: 4px;
  font-size: 0;
  text-align: left;
}
.quantity-input input{
  display: block;
  border: none;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  height: 36px;
  width: 40%;
  text-align: center;
  float: left;
  padding: 0 3px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.quantity-input .btn{
  display: block;
  width: 26px;
  height: 36px;
  font-size: 0;
  background-color: transparent;
  position: relative;
  border-radius: 50%;
  outline: none;
  box-shadow: none;
  float: left;
}
.quantity-input .btn-increase,
.quantity-input .btn-reduce{
  width: 30%;
}
.quantity-input .btn::before{
  content: "";
  width: 12px;
  height: 2px;
  background-color: #666666;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.quantity-input .btn.btn-increase::after{
  content: "";
  width: 2px;
  height: 12px;
  background-color: #666666;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.disabled-input {
  pointer-events: none;
  opacity: 0.4;
}
.summary-info {
  padding-top: 10px;

  .update-info {
    background-color: rgb(26, 148, 255);
    color: #ffffff;
    width: 170px;
    padding: 5px 10px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 0 9px 0 #ececec;

    &:hover {
      background-color: #f05d40;
    }
  }
}

.modal-title {
  font-size: 16px;
}

.edit-user-form {
  font-size: 14px;
  padding: 10px 0 !important;
  .form-title {
    font-weight: bold;
  }
  .form-item {
    padding: 5px 15px;
  }
  .user-avatar,
  .preview-user-avatar {
    img {
      width: 130px;
      height: 130px;
      object-fit: cover;
      margin-bottom: 15px;
      border-radius: 50%;
    }
  }
  .text-change-avatar {
    color: #555555;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    cursor: pointer;

    &:hover {
      background-color: rgba(0,0,0,0.02);
    }
  }
}
th {
  text-align: center;
}
.product-info {
  .product-name {
    span {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}
.action-product {
  .fa-heart {
    cursor: pointer;
    color: #d0c7c7;
  }
  .followed {
    color: red;
  }
}
.cart-footer {
  position: absolute;
  top: 210px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  a {
    text-decoration: none;
    color: #ee4d2d;
  }
}
.btn-delete-order {
  outline: none;
  color: #ee4d2d;
}
.list-categories {
  font-size: 14px;
  font-weight: normal;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 30px;

  div {
    width: 10%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0 7.5px;
    a {
      color: #000000;
      text-decoration: none;
    }
    img {
      width: 90px;
    }
  }
}
.chat-content {
  background-color: #ffffff;
  height: 800px;
  .contacts {
    width: 350px;
    height: 100%;
    color: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 5px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #bbbbbb;
      border-radius: 4px;
    }
    ul {
      background-color: #ffffff;
      padding: 0;
      margin: 0;
      .contact {
        position: relative;
        padding: 10px 0 15px 0;
        font-size: 0.9em;
        cursor: pointer;
        &:hover {
          background: #f7f8fb;
        }
        .wrap {
          width: 88%;
          margin: 0 auto;
          position: relative;
          img {
            width: 40px;
            border-radius: 50%;
            float: left;
            margin-right: 10px;
            padding-top: 8px;
          }
          .meta {
            padding: 5px 0 0 0;
            .name {
              font-weight: 600;
              color: #000000;
              margin: 0;
            }
            .preview {
              margin: 5px 0 0 0;
              color: #888888;
              padding: 0 0 1px;
              font-weight: 400;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        .fa-user {
          color: green;
          border: 1px solid green;
          border-radius: 10px;
          padding: 10px;
          position: absolute;
          top: 13px;
          right: -10px;
        }
        border-right: 5px solid #ffffff;
      }
      .active {
        background: #ebedf1;
        border-right: 5px solid #6b6b6e;
      }
    }
  }
  .content {
    width: calc(100% - 350px);
    height: 100%;
    .messages {
      height: auto;
      height: 720px;
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 5px;
        background: #ffffff;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #bbbbbb;
        border-radius: 4px;
      }
      div {
        text-align: center;
        margin-top: 200px;
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          clear: both;
          float: left;
          margin: 10px 15px 5px 15px;
          width: calc(100% - 25px);
          font-size: 0.9em;
        }
        .sent {
          p {
            margin: 0;
            background: #d7e4ff;
          }
        }
        .replies {
          p {
            margin: 0;
            background: #f5f6f8;
            float: right;
          }
        }
        p {
          display: inline-block;
          padding: 10px 15px;
          border-radius: 20px;
          max-width: 400px;
          line-height: 130%;
        }
      }
    }
    .message-input {
      width: 100%;
      z-index: 99;
      .wrap {
        margin-top: 20px;
        input {
          float: left;
          border: 1px solid #efefef;
          width: 800px;
          padding: 11px 32px 10px 8px;
          font-size: 0.8em;
          color: #32465a;
        }
        .attachment {
          margin-top: 11px;
          font-size: 18px;
          color: #cccccc;
          cursor: pointer;
        }
        button {
          border: none;
          width: 50px;
          padding: 8px 0;
          cursor: pointer;
          background: #ffffff;
          color: #cccccc;
        }
      }
    }
  }
}
footer {
  .main-footer-content {
    margin-bottom: 20px;
  }
  .wrap-contact-detail {
    ul {
      li {
        height: 18px;
      }
    }
  }
}
.search-user {
  padding: 20px;
  .avatar-user {
    margin-right: 10px;
    img {
      width: 68px;
      height: 68px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .information-user {
    p {
      margin: 0;
      color: #000000;
    }
    .name {
      font-size: 18px;
    }
    .stat {
      font-size: 14px;
      color: rgba(0,0,0,.54);
    }
  }
}
.btn-order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
  span {
    margin-right: 20px;
    b {
      color: #ee4d2d;
    }
  };
  button {
    background-color: #1a94ff;
    color: #ffffff;
    padding: 13px 40px;
  }
}
.information-user {
  .avatar {
    img {
      width: 78px;
      height: 78px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }
  .action-user {
    button {
      border: 1px solid rgba(0,0,0,.09);
    }
  }
}
.empty-cart {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  a {
    color: #ffffff;
    background-color: #1a88ff;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 10px;
  }
}
.notifications {
  height: auto;
  .notifications-content {
    height: 120px;
    img {
      width: 70px;
      height: 70px;
      margin-left: 30px;
    }
    .content {
      display: flex;
      align-items: center;
      width: 970px;
      margin-left: 50px;
    }
  }
}
.see-all-product {
  color: #ffffff;
  text-decoration: none;
  background-color: #1a88ff;
  padding: 10px 15px;
  border-radius: 5px;
}