body {
  background-color: #f5f5f5;
}

.login-input {
  margin: 20px 0;
}

.main-info-area {
  .right-section {
    .wrap-icon-section {
      .title {
        color: #333333;
      }
      .link-direction {
        >i {
          color: #aaa;
        }
      }
      .link-new-post {
        padding: 5px 10px;
        border-radius: 4px;
        margin-top: 10px;
        background-color: #fe9900;
        &:hover {
          background-color: #cc7a00;
        }
        .title {
          color: #ffffff;
        }
        >i {
          color: #ffffff;
        }
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.personal-page {
  .personal-card-info {
    width: 100%;
    padding: 29px 29px 30px 29px;
    display: flex;
    margin-top: 14px;
  }
  .personal-information {
    .summary-item {
      h4 {
        max-width: none;
      }
    }
  }
  .personal-card-background {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://thumbor.autonomous.ai/Dg4iDuGV9BfV2h8gk0uFicHVDF8=/1600x900/filters:quality(100)/https://cdn.autonomous.ai/static/upload/images/new_post/our-definitive-minimalist-desk-setup-guide-488-1595822218670.jpg');
    filter: blur(2px);
    position: absolute;
    width: 440px;
    height: 180px;
    background-size: cover;
  }
  .personal-card {
    padding: 40px;
    .index {
      color: #ffffff !important;
      font-size: 23px;
    }
    .avatar-shop {
      img {
        border: 4px solid rgb(255, 255, 255, 0.4);
        border-radius: 50%;
      }
    }
  }
}

.summary-checkout .summary-item {
  display: block;
  float: left;
  width: 50%;
}

.personal-card-info .summary-item.personal-items {
  padding-left: 15px;
  .title {
    font-size: 14px;
    color: #555555;
    line-height: 24px;
    margin: 0;
  }
  .index {
    color: #333333;
    font-weight: 700;
  }
}

.post-list .product-list {
  width: 100%;
  li {
    background-color: white;
    padding: 4px;
    margin: 4px;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
    .product.product-style-3 {
      display: block;
      margin-top: 0;
      img {
        height: 130px;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .item-price {
    font-weight: 700;
    color: #ee4d2d;
  }
}
